<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <div id="navPosition">
            <img id="robotsSize"src="/img/logorobot.png" alt="robotlogo">
            <a id="logo-container " href="#" class="brand-logo">coCodingLive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!--<li><a href="#">Companies</a></li>-->
                <li><a href="#" id="isSignDiv">{{username}} is signed In</a></li>
                <li><a class="btn" href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="sideNav blue-grey darken-4">
    <!--<div class="sideNav">-->
        <!--<div id="navPosition">-->
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="small material-icons center"                     id="icons">apps</i></a>
        <br>
        <i class="small material-icons center" id="icons">chat</i>
        <i class="small material-icons center" id="icons">voice_chat</i>
        <i class="small material-icons center" id="icons">person_add</i>
            <a id="logo-container " href="#" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#" id="isSignDiv"></a></li>

            </ul>
        <!--</div>-->
    <!--</div>-->

    <ul id="slide-out" class="side-nav">
        <!--<li><a href="#!">First Sidebar Link</a></li>-->
        <!--<li><a href="#!">Second Sidebar Link</a></li>-->
    </ul>
    <!--<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="small material-icons center" id="icons">apps</i></a>-->
</nav>

<!--<div id="terminalBg">-->
    <!--<form id="preview-form">-->
        <!--<textarea class="codemirror-textarea" name="editor-value" id="editor-value" rows="4" cols="10" onkeyup="write()"></textarea>-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="submit" name="submit" id="submit" value="submit">&ndash;&gt;-->
    <!--</form>-->
<!--</div>-->

<!--<footer class="page-footer blue-grey darken-4">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">coCodingLive</h5>-->
            <!--</div>-->
            <!--<div class="col l3 s12">-->
                <!--<h5 class="white-text">About the team</h5>-->
                <!--<ul>-->
                    <!--<li><a class="white-text" href="https://github.com/jaycen9887">Jacyen Milling</a></li>-->
                    <!--<li><a class="white-text" href="https://github.com/mekaknepley">Meka Knepley</a></li>-->
                    <!--<li><a class="white-text" href="https://github.com/shelbina">Shelby Deel</a></li>-->
                    <!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 4</a></li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col l3 s12">-->
                <!--<h5 class="white-text">Contact Us</h5>-->
                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 1</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 2</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 3</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 4</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="footer-copyright">-->
        <!--<div class="container">-->
        <!--</div>-->
    <!--</div>-->

    <!--<h6> © 2017 coCodingLive</h6>-->
<!--</footer>-->


<!----------------------------------------------------------------------------------------------->

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    var socket = io();
    $(function () {
        var socket = io();
        $('#chatForm').submit(function(){
            socket.emit('chat message', "{{username}}: " + $('#m').val());
            $('#m').val('');
            return false;
        });
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
    });

//    shelby script
    // Initialize collapse button
    $(".button-collapse").sideNav({
        menuWidth: 400,
        edge: 'right',
        closeOnClick: true,
        draggable: true,
        onOpen: function(el) {  },
        onClose: function(el) {  },
    });
    //initialize popout
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

    //modals
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

<!--<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>-->
<script type="text/javascript">
    var apiKey = '{{apiKey}}';
    var sessionId = '{{sessionId}}';
    var token = '{{token}}';

    // Initialize an OpenTok Session object
    var session = OT.initSession(apiKey, sessionId);

    // Initialize a Publisher, and place it into the element with id="publisher"
    var publisher = OT.initPublisher('publisher');

    // Attach event handlers
    session.on({

        // This function runs when session.connect() asynchronously completes
        sessionConnected: function(event) {
            // Publish the publisher we initialzed earlier (this will trigger 'streamCreated' on other
            // clients)
            session.publish(publisher);
        },

        // This function runs when another client publishes a stream (eg. session.publish())
        streamCreated: function(event) {
            // Create a container for a new Subscriber, assign it an id using the streamId, put it inside
            // the element with id="subscribers"
            var subContainer = document.createElement('div');
            subContainer.id = 'stream-' + event.stream.streamId;
            document.getElementById('subscribers').appendChild(subContainer);

            // Subscribe to the stream that caused this event, put it inside the container we just made
            session.subscribe(event.stream, subContainer);
        }

    });

    // Connect to the Session using the 'apiKey' of the application and a 'token' for permission
    session.connect(token);

</script>
    
<!-- FIREBASE -->  
<script>
    
</script>
