<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <div id="navPosition">
            <img id="robotsSize2"src="/img/logorobot.png" alt="robotlogo">
            <a id="logo-container " href="#" class="brand-logo">coCoding</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!--<li><a href="#">Companies</a></li>-->
                <li><a href="#" class="center" id="isSignDiv">{{username}}  is signed In</a></li>
                <li><a class="btn" href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class="panel-top">-->
    <!--&lt;!&ndash;top panel&ndash;&gt;-->
<div class="panel-container">

    <div class="panel-left">
        left panel
    </div>

    <div class="splitter">
    </div>

    <div class="panel-right">
        <!--right panel-->
        <div class="panel-container-vertical">
            <div class="panel-top">
            <!--top panel-->



<!--<nav class="sideNav blue-grey darken-4">-->
    <!--&lt;!&ndash;<div class="sideNav">&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="navPosition">&ndash;&gt;-->
    <!--<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="small material-icons center"                     id="icons">apps</i></a>-->
    <!--<br>-->
    <!--<i class="small material-icons center" id="icons">chat</i>-->
    <!--<i class="small material-icons center" id="icons">voice_chat</i>-->
    <!--<i class="small material-icons center" id="icons">person_add</i>-->
    <!--<i class="small material-icons center" id="icons">directions_run</i>-->
    <!--<a id="logo-container " href="#" class="brand-logo"></a>-->
    <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
        <!--<li><a href="#" id="isSignDiv"></a></li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<ul id="slide-out" class="side-nav grey darken-1">-->
        <!--<h3 class="black-text center">Settings</h3>-->
        <!--<hr>-->
        <!--<h5 class="black-text">Syntax</h5>-->
        <!--<select class="browser-default grey darken-1">-->
            <!--<option value="" disabled selected>Choose your syntax</option>-->
            <!--<option value="#APL">APL</option>-->
            <!--<option value="#ASN-1">ASN.1</option>-->
            <!--<option value="#Asterisk">Asterisk dialplan</option>-->
            <!--<option value="#Brainfuck">Brainfuck</option>-->
            <!--<option value="#C">C</option>-->
            <!--<option value="#C++">cPlusPlus</option>-->
            <!--<option value="#C#">cSharp</option>-->
            <!--<option value="#Ceylon">Ceylon</option>-->
            <!--<option value="#Clojure">Clojure</option>-->
            <!--<option value="#Closure-Stylesheet">Closure Stylesheets</option>-->
            <!--<option value="#CMake">CMake</option>-->
            <!--<option value="#COBOL">COBOL</option>-->
            <!--<option value="#CoffeeScript">CoffeeScript</option>-->
            <!--<option value="#Common Lisp">Common Lisp</option>-->
            <!--<option value="#Crystal">Crystal</option>-->
            <!--<option value="#CSS">CSS</option>-->
            <!--<option value="#Cypher">Cypher</option>-->
            <!--<option value="#Cython">Cython</option>-->
            <!--<option value="#D">D</option>-->
            <!--<option value="#Dart">Dart</option>-->
            <!--<option value="#Django">Django</option>-->
            <!--<option value="#Dockerfile">Dockerfile</option>-->
            <!--<option value="#diff">diff</option>-->
            <!--<option value="#DTD">DTD</option>-->
            <!--<option value="#Dylan">Dylan</option>-->
            <!--<option value="#EBNF">EBNF</option>-->
            <!--<option value="#ECL">ECL</option>-->
            <!--<option value="#Eiffel">Eiffel</option>-->
            <!--<option value="#Elixir">Elixir</option>-->
            <!--<option value="#Elm">Elm</option>-->
            <!--<option value="#Erlang">Erlang</option>-->
            <!--<option value="#Factor">Factor</option>-->
            <!--<option value="#FCL">FCL</option>-->
            <!--<option value="#Fortran">Fortran</option>-->
            <!--<option value="#Fourth">Fourth</option>-->
            <!--<option value="#F#">F#</option>-->
            <!--<option value="#Gas">Gas</option>-->
            <!--<option value="#Gherkin">Gherkin</option>-->
            <!--<option value="#Go">Go</option>-->
            <!--<option value="#Groovy">Groovy</option>-->
            <!--<option value="#HAML">HAML</option>-->
            <!--<option value=#Handlebars">Handlebars</option>-->
            <!--<option value="#Haskell">Haskell</option>-->
            <!--<option value="#Haxe">Haxe</option>-->
            <!--<option value="#HTML-embedded">HTML (JSP,ASP.net)</option>-->
            <!--<option value="#HTML-mix-mode">HTML mix-mode</option>-->
            <!--<option value="#HTTP">HTTP</option>-->
            <!--<option value="#IDL">IDL</option>-->
            <!--<option value="#Java">Java</option>-->
            <!--<option value="#js">JavaScript</option>-->
            <!--<option value="#Jinja2">Jinja2</option>-->
            <!--<option value="#Julia">Julia</option>-->
            <!--<option value="#Kotlin">Kotlin</option>-->
            <!--<option value="#LESS">LESS</option>-->
            <!--<option value="#LiveScript">LiveScript</option>-->
            <!--<option value="#Lua">Lua</option>-->
            <!--<option value="#Markdown">Markdown</option>-->
            <!--<option value="#Mathematica">Mathematica</option>-->
            <!--<option value="#mbox">mbox</option>-->
            <!--<option value="#mIRC">mIRC</option>-->
            <!--<option value="#Modelica">Modelica</option>-->
            <!--<option value="#MSCGen">MscGen</option>-->
            <!--<option value="#MUMPS">MUMPS</option>-->
            <!--<option value="#Nginx">Nginx</option>-->
            <!--<option value="#NSIS">NSIS</option>-->
            <!--<option value="#N-Trip-N-Quad">N-Triples/N-Quads</option>-->
            <!--<option value="#Objective-C">Objective C</option>-->
            <!--<option value="#OCaml">OCaml</option>-->
            <!--<option value="#Octave">Octave</option>-->
            <!--<option value="#Oz">Oz</option>-->
            <!--<option value="#Pascal">Pascal</option>-->
            <!--<option value="#PEG">PEG.js</option>-->
            <!--<option value="#Perl">Perl</option>-->
            <!--<option value="#PGP">PGP</option>-->
            <!--<option value="#PHP">PHP</option>-->
            <!--<option value="#Pig Latin">Pig Latin</option>-->
            <!--<option value="#powershell">PowerShell</option>-->
            <!--<option value="#prop-files">Properties files</option>-->
            <!--<option value="#protoBuf">ProtoBuf</option>-->
            <!--<option value="#pug">Pug</option>-->
            <!--<option value="#puppet">Puppet</option>-->
            <!--<option value="#python">Python</option>-->
            <!--<option value="#Q">Q</option>-->
            <!--<option value="#R">R</option>-->
            <!--<option value="#RPM">RPM</option>-->
            <!--<option value="#reStructuredText">reStructuredText</option>-->
            <!--<option value="#Ruby">Ruby</option>-->
            <!--<option value="#Rust">Rust</option>-->
            <!--<option value="#SAS">SAS</option>-->
            <!--<option value="#Sass">Sass</option>-->
            <!--<option value="#Spreadsheet">Spreadsheet</option>-->
            <!--<option value="#Scala">Scala</option>-->
            <!--<option value="#Scheme">Scheme</option>-->
            <!--<option value="#SCSS">SCSS</option>-->
            <!--<option value="#shell">Shell</option>-->
            <!--<option value="#sieve">Sieve</option>-->
            <!--<option value="#slim">Slim</option>-->
            <!--<option value="#smalltalk">Smalltalk</option>-->
            <!--<option value="#smarty">Smarty</option>-->
            <!--<option value="#soir">Soir</option>-->
            <!--<option value="#soy">Soy</option>-->
            <!--<option value="#stylus">Stylus</option>-->
            <!--<option value="#sql">SQL</option>-->
            <!--<option value="#sparql">SPARQL</option>-->
            <!--<option value="#squirrel">Squirrel</option>-->
            <!--<option value="#swift">Swift</option>-->
            <!--<option value="#sTex-Latex">sTex LaTeX</option>-->
            <!--<option value="#TCL">Tcl</option>-->
            <!--<option value="#textile">Textile</option>-->
            <!--<option value="#tiddlywiki">Tiddlywiki</option>-->
            <!--<option value="#tikiwiki">Tiki wiki</option>-->
            <!--<option value="#toml">TOML</option>-->
            <!--<option value="#tornado">Tornado</option>-->
            <!--<option value="#troff">troff</option>-->
            <!--<option value="#ttcn">TTCN</option>-->
            <!--<option value="#ttcn-config">TTCN Configuration</option>-->
            <!--<option value="#turtle">Turtle</option>-->
            <!--<option value="#twig">Twig</option>-->
            <!--<option value="#vb.net">VB.NET</option>-->
            <!--<option value="#vbScript">VBScript</option>-->
            <!--<option value="#velocity">Velocity</option>-->
            <!--<option value="#verilog">Verilog</option>-->
            <!--<option value="#vhdl">VHDL</option>-->
            <!--<option value="#vue">Vue.js app</option>-->
            <!--<option value="#web-idl">Web IDL</option>-->
            <!--<option value="#html">XML/HTML</option>-->
            <!--<option value="#xquery">XQuery</option>-->
            <!--<option value="#yacas">Yacas</option>-->
            <!--<option value="#yaml">YAML</option>-->
            <!--<option value="#yaml-front">YAML frontmatter</option>-->
            <!--<option value="#z80">Z80</option>-->
            <!--<option value="#zenburn">zenburn.css</option>-->
        <!--</select>-->
        <!--<h5 class="black-text">Theme</h5>-->
        <!--<select class="browser-default grey darken-1">-->
            <!--<option value="" disabled selected>Choose your theme</option>-->
            <!--<option value="1">def</option>-->
            <!--<option value="2">Option 2</option>-->
            <!--<option value="3">Option 3</option>-->
        <!--</select>-->

        <!--&lt;!&ndash;<li><a href="#!">First Sidebar Link</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#!">Second Sidebar Link</a></li>&ndash;&gt;-->

    <!--</ul>-->
    <!--&lt;!&ndash;<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="small material-icons center" id="icons">apps</i></a>&ndash;&gt;-->
<!--</nav>-->

<div id="terminalBody">

    <form id="preview-form">
    <textarea class="codemirror-textarea" name="editor-value" id="editor-value" rows="4" cols="10">&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;</textarea>
    <br>
    <!--<input type="submit" name="submit" id="submit" value="submit">-->
</form>
</div>
        </div>

            <!--<div id="preview" class="header col s8 light z-depth-3 liveTerminal">-->

<!--</div>-->



            <div class="splitter-horizontal">
            </div>

            <div class="panel-bottom">
                bottom panel
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------------------------------------------------------->

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-resizable.js"></script>
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(".panel-left").resizable({
        handleSelector: ".splitter",
        resizeHeight: false
    });
    $(".panel-top").resizable({
        handleSelector: ".splitter-horizontal",
        resizeWidth: false
    });


    var socket = io();
    $(function () {
        var socket = io();
        $('#chatForm').submit(function(){
            socket.emit('chat message', "{{username}}: " + $('#m').val());
            $('#m').val('');
            return false;
        });
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
    });
    //    shelby script
    // Initialize collapse button

    $(".button-collapse").sideNav({
        menuWidth: 400,
        edge: 'right',
        closeOnClick: true,
        draggable: true,
        onOpen: function(el) {  },
        onClose: function(el) {  }
    });
    //initialize popout
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
    //modals
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });


//   $('div').resizable({ handles: 'all', autohide: true, minHeight: 100, minWidth: 350 });
</script>

<!--<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>-->
<script type="text/javascript">
    var apiKey = '{{apiKey}}';
    var sessionId = '{{sessionId}}';
    var token = '{{token}}';
    // Initialize an OpenTok Session object
    var session = OT.initSession(apiKey, sessionId);
    // Initialize a Publisher, and place it into the element with id="publisher"
    var publisher = OT.initPublisher('publisher');
    // Attach event handlers
    session.on({
        // This function runs when session.connect() asynchronously completes
        sessionConnected: function(event) {
            // Publish the publisher we initialzed earlier (this will trigger 'streamCreated' on other
            // clients)
            session.publish(publisher);
        },
        // This function runs when another client publishes a stream (eg. session.publish())
        streamCreated: function(event) {
            // Create a container for a new Subscriber, assign it an id using the streamId, put it inside
            // the element with id="subscribers"
            var subContainer = document.createElement('div');
            subContainer.id = 'stream-' + event.stream.streamId;
            document.getElementById('subscribers').appendChild(subContainer);
            // Subscribe to the stream that caused this event, put it inside the container we just made
            session.subscribe(event.stream, subContainer);
        }
    });
    // Connect to the Session using the 'apiKey' of the application and a 'token' for permission
    session.connect(token);
</script>

<!-- FIREBASE -->
<script>

</script>
